# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ternst\OneDrive - GERSON LEHRMAN GROUP INC\Documents\Python Scripts\Learning_Playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
